.chat-main
  .group-info
    .group-info__details
      .group__name
        = @group.name
      .group__members
        %ul.member
          Member :
          - @group.users.each do |user|
            = user.name
    .group-info__Edit
      = link_to edit_group_path(@group), class: "edit--btn" do
        Edit
  .messages
    = render @messages

  .message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box-text', placeholder: 'type a message'
        .image__btn
          = f.label :image, class: 'image__btn--image' do
            = icon('far', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
      .submit
        = f.submit 'Send', class: 'submit-btn'
